
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
padding: 0;
margin: 0;
border: 0;
vertical-align: baseline
}
body
{
font-family: Tahoma,  sans-serif;
}
a
{
text-decoration:none;
}
table
{
width:100%;
border-top: 1px solid #E3E3E3;
border-left: 1px solid #E3E3E3;	
}
table td
{
border-right: 1px solid #E3E3E3;
border-bottom: 1px solid #E3E3E3;
padding : 10px;
}
#contenu
{

background-color :white;
position:relative;
min-height:800px;
width:100%;
min-width:960px;
overflow:auto;
}
#haut
{
height :100px;
width:100%;
background-image:url(../images/bandoh.png);
background-repeat:x;
}
#sep_haut
{
height :30px;
width:250px;
background-image:url(../images/sep_h2.png);
background-repeat:no-repeat;
}
#bas
{
height :50px;
width:100%;
background-image:url(../images/bandob.png);
background-repeat:x;
}
#menu
{
float:left;
width:15%;
min-width:250px;
height:auto;
}
#contenu-op
{

overflow:auto;
margin:10px;
min-width:680px;
height:auto;
font-size:12px;
}
#copyright
{
float:right;
color:white;
font-weight:blod;
margin-right:20px;
margin-top:10px;
font-size :80%;
}
#logo
{
font-size :36px;
color:rgb(230,230,230);
position:relative;
top:30px;
left:20px;
}
.table_menu tr
{
background: #EEE;
height:30px;
}
.table_menu td
{
border-right: 1px solid #E3E3E3;
border-bottom: 1px solid #E3E3E3;
vertical-align:middle;
font-weight: bold;
font-size:12px;
}
.table_menu a
{
text-decoration: none;
color : black;
}
.table_menu
{
border-top: 1px solid #E3E3E3;
border-left: 1px solid #E3E3E3;
width:220px;
}
.widget {
	width: 98%;
	margin-bottom: 2em;
	border: 1px solid #D5D5D5;
	position: relative;
	clear: both;
	overflow: hidden;
}

.widget-header {
	background:  #EEE;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #D5D5D5;
	position: relative;
	
}	

.widget-header h3 {
		font-size: 14px;
		font-weight: 800;
		color: #555;
		display: inline;
		margin-right: 3em;
		position: relative;
		top: 2px;
		left: 10px;
	}
	
.widget-content {
	padding: 20px 15px 15px;
}

.trans_item:hover {

cursor:pointer;
background-color:#C9F6F0;
}
.grid-11
{
overflow:hidden;
background-color:white;
}